name: Playwright DataDash QA

on:
  workflow_dispatch:
  push:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm init -y
          npm install playwright
          npx playwright install chromium

      - name: Run Playwright scraper - 22f2000984@ds.study.iitm.ac.in
        run: node scrape.js